---
title: Manager Induction
slug: manager-induction
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 102
seo_title: Manager Induction
editable_elements:
  main/banner: 
  main/content: "\r\n\r\n  "
  main/manager_blurb: "Welcome to CareerTrackers! Many of you will have arrived at
    this page as part of our Manager Induction training.\r\n          <br><br>\r\n
    \         Please review the below materials before and/or after your scheduled
    session."
---
{% extends 'parent' %}
{% block main %}
{% include banner %}
<style>
.youtube-player { display: block; margin: 0 auto; }
</style>
<div class='container-fluid'>


  {% editable_text content %}

  {% endeditable_text %}
  <div class='container-fluid white-background'>
    <div class='container marketing'>
      <div class='page-header container text-center white-background'>
        <h1>Manager Induction</h1>

      </div>
      <div class='row'>
        <div class="col-md-12 text-center lead">
          <p>
          {% editable_text manager_blurb %}
          Welcome to CareerTrackers! Many of you will have arrived at this page as part of our Manager Induction training.
          <br><br>
          Please review the below materials before and/or after your scheduled session.

          {% endeditable_text %}
        </p>
        </div>
      </div>
    </div>
  </div>
  <div class='col-md-12 padded-top padded-bottom'>


  </div>

  <div class='container-fluid white-background'>
    <div class='container marketing'>
      <div class='page-header container text-center white-background'>
        <h1>Manager Checklist</h1>

      </div>
      <div class='row'> 
        <div class="col-md-12 text-center">

          <div class='col-md-12'>
            <a href="http://59d107f8c0dc63892c5e-c6fb9b4f3c3891548580b4277d55f88f.r19.cf4.rackcdn.com/Manager%20Checklist.pdf" target="_blank"><img class="img-responsive" src="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/images/Manager_Checklist.jpg" style="margin:0 auto;height:400px"/></a>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <div class='container-fluid white-background'>
    <div class='container marketing'>
      <div class='page-header container text-center white-background'>
        <h1>Key Dates</h1>

      </div>
      <div class='row'> 
        <div class="col-md-12 text-center">

          <div class='col-md-12'>
            <a href="http://59d107f8c0dc63892c5e-c6fb9b4f3c3891548580b4277d55f88f.r19.cf4.rackcdn.com/Manager%20Brief_2018%20Winter%20Internship.pdf" target="_blank"><img class="img-responsive" src="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/images/Manager_Brief_2018_Winter_Internship_Page_1.jpg" style="margin:0 auto;height:400px"/></a>
          </div>
        </div>
      </div>
    </div>
  </div>
    
    <div class='container-fluid white-background'>
    <div class='container marketing'>
      <div class='page-header container text-center white-background'>
        <h1>Manager Handbook</h1>

      </div>
      <div class='row'>
        <div class="col-md-12 text-center">

          <div class='col-md-12'>
            <a href="http://59d107f8c0dc63892c5e-c6fb9b4f3c3891548580b4277d55f88f.r19.cf4.rackcdn.com/CareerTrackers%20Manager%20Handbook.pdf" target="_blank"><img class="img-responsive" src="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/images/handbook.jpg" style="margin:0 auto;height:400px"/></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='container-fluid white-background'>
    <div class='container marketing'>
      <div class='page-header container text-center white-background'>
        <h1>Learning Contract</h1>

      </div>
      <div class='row'>
        <div class="col-md-12 text-center">

          <div class='col-md-12'>
            <a href="http://59d107f8c0dc63892c5e-c6fb9b4f3c3891548580b4277d55f88f.r19.cf4.rackcdn.com/Intern%20Learning%20Contract%20PDF.pdf" target="_blank"><img class="img-responsive" src="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/images/LC_mock_1.jpg" style="margin:0 auto;height:400px"/></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  
    <div class='container-fluid white-background'>
    <div class='container marketing'>
      <div class='page-header container text-center white-background'>
        <h1>Intern Evaluation</h1>

      </div>
      <div class='row'>
        <div class="col-md-12 text-center">

          <div class='col-md-12'>
            <a href="http://59d107f8c0dc63892c5e-c6fb9b4f3c3891548580b4277d55f88f.r19.cf4.rackcdn.com/Manager%20Intern%20Evaluation%20May%202018.docx" target="_blank"><!--<img class="img-responsive" src="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/images/interneval.jpg" style="margin:0 auto;height:400px"/>-->
              <img class="img-responsive" src="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/images/interneval.png" style="margin:0 auto;"/>
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>
 
    
  <div class='container-fluid white-background'>
    <div class='container marketing'>
      <div class='page-header container text-center white-background'>
        <h1>CareerTrackers Advantage</h1>

      </div>
      <div class='row'>
        <div class="col-md-12 text-center">

          <div class='col-md-12'>
            <a href="http://59d107f8c0dc63892c5e-c6fb9b4f3c3891548580b4277d55f88f.r19.cf4.rackcdn.com/CareerTrackers%20Advantage%20Report.pdf" target="_blank"><img class="img-responsive" src="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/images/ct-advantage.png" style="margin:0 auto;height:400px"/></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='container-fluid white-background'>
    <div class='container marketing'>
      <div class='page-header container text-center white-background'>
        <h1>CareerTrackers Social Impact</h1>

      </div>
      <div class='row'>
        <div class="col-md-12 text-center">

          <div class='col-md-12'>
            <a href="http://59d107f8c0dc63892c5e-c6fb9b4f3c3891548580b4277d55f88f.r19.cf4.rackcdn.com/CareerTrackers_Social_Impact_Report_Executive_Summary.pdf" target="_blank"><img class="img-responsive" src="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/images/socialImpact.jpg" style="margin:0 auto;height:400px"/></a>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class='container-fluid white-background'>
    <div class='container marketing'>
      <div class='page-header container text-center white-background'>
        <h1>Videos</h1>

      </div>
      <div class='row'>
        {% for story in contents.videos %}
        <div class='col-lg-4'>
          <img alt='{{story.name | escape }}' src='{{story.image.url | escape }}'>
          <h2>{{story.name | escape }}</h2>
          <p>{{story.description | escape }}</p>
          <p>
            <button class='btn btn-default' data-target="{{ '#' | concat: story._slug, '-modal' }}" data-toggle='modal'>
              <i class='fa fa-play-circle'></i>
              Play video
            </button>
          </p>
          <div aria-hidden='true' class='modal fade' id='{{story._slug}}-modal' role='dialog' tabindex='-1'>
            <div class='modal-dialog'>
              <div class='modal-content'>
                <div class='modal-header'>
                  <button aria-hidden='true' class='close' data-dismiss='modal' type='button'>×</button>
                  <h2 class='modal-title' id='myModalLabel'>{{story.name}}</h2>
                </div>
                <div class='modal-body'>
                  <div class='player' id='{{story._slug}}-video' src='{{story.youtube_video_url | escape}}'></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  


</div>
{% endblock %}
