---
title: Program Orientation
slug: program-orientation
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 4
seo_title: Program Orientation
editable_elements:
  main/banner: 
  main/content: "\n\n  "
  main/manager_blurb: |-
    Welcome to CareerTrackers. Please take a moment to look through the materials below and get to know the program. We look forward to working with you and helping you get started to find your internship!
---
{% extends 'parent' %}
{% block main %}
{% include banner %}
<style>
.youtube-player { display: block; margin: 0 auto; }
</style>
<div class='container-fluid'>


  {% editable_text content %}

  {% endeditable_text %}
  <div class='container-fluid white-background'>
    <div class='container marketing'>
      <div class='page-header container text-center white-background'>
        <h1>Program Orientation</h1>

      </div>
      <div class='row'>
        <div class="col-md-12 text-center lead">
          <p>
          {% editable_text manager_blurb %}
              
          Welcome to CareerTrackers. Please take a moment to look through the materials below and get to know the program. We look forward to working with you and helping you get started to find your internship!

          {% endeditable_text %}
        </p>
        </div>
      </div>
    </div>
  </div>
  <div class='col-md-12 padded-top padded-bottom'>


  </div>

  <div class='container-fluid white-background'>
    <div class='container marketing'>
      <div class='page-header container text-center white-background'>
        <h1>Student Handbook</h1>

      </div>
      <div class='row'>
        <div class="col-md-12 text-center">

          <div class='col-md-12'>
            <a href="http://59d107f8c0dc63892c5e-c6fb9b4f3c3891548580b4277d55f88f.r19.cf4.rackcdn.com/CareerTrackers%20Student%20Handbook.pdf" target="_blank"><img class="img-responsive" src="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/images/handbook-cover.png" style="margin:0 auto;height:400px"/></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='container-fluid white-background'>
    <div class='container marketing'>
      <div class='page-header container text-center white-background'>
        <h1>Corporate Logo Game</h1>

      </div>
      <div class='row'>
        <div class="col-md-12 text-center">

          <div class='col-md-12'>
              <!--
            <a href="http://59d107f8c0dc63892c5e-c6fb9b4f3c3891548580b4277d55f88f.r19.cf4.rackcdn.com/LogoGame.pdf" target="_blank"><img class="img-responsive" src="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/images/logogame_website.png" style="margin:0 auto;height:400px"/></a>

                -->
             <a href="#bannerformmodal" data-toggle="modal" data-target="#bannerformmodal"><img class="img-responsive" src="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/images/logogame_website.png" style="margin:0 auto;height:400px"/></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="bannerformmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Logo Game</h4>
                            </div>
                            <div class="modal-body">
                               <img class="img-responsive" src="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/images/LogoGame.jpg"/>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
    
  <div class='container-fluid white-background'>
    <div class='container marketing'>
      <div class='page-header container text-center white-background'>
        <h1>Key Dates</h1>

      </div>
      <div class='row'>
        <div class="col-md-12 text-center">

          <div class='col-md-12'>
              <!--
            <a href="http://59d107f8c0dc63892c5e-c6fb9b4f3c3891548580b4277d55f88f.r19.cf4.rackcdn.com/LogoGame.pdf" target="_blank"><img class="img-responsive" src="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/images/logogame_website.png" style="margin:0 auto;height:400px"/></a>

                -->
             <img class="img-responsive" src="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/images/keydates-mainweb.png" style="margin:0 auto;height:400px"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class='container-fluid white-background'>
    <div class='container marketing'>
      <div class='page-header container text-center white-background'>
        <h1>The CareerTrackers Advantage</h1>

      </div>
      <div class='row'>
        <div class="col-md-12 text-center">

          <div class='col-md-12'>
            <a href="http://59d107f8c0dc63892c5e-c6fb9b4f3c3891548580b4277d55f88f.r19.cf4.rackcdn.com/CareerTrackers%20Advantage%20Report.pdf" target="_blank"><img class="img-responsive" src="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/images/ct-advantage-studentinduction.png" style="margin:0 auto;height:400px"/></a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class='container-fluid white-background'>
    <div class='container marketing'>
      <div class='page-header container text-center white-background'>
        <h1>Videos</h1>

      </div>
      <div class='row'>
        {% for story in contents.student_videos %}
        <div class='col-lg-4'>
          <img alt='{{story.name | escape }}' src='{{story.image.url | escape }}'>
          <h2>{{story.name | escape }}</h2>
          <p>{{story.description | escape }}</p>
          <p>
            <button class='btn btn-default' data-target="{{ '#' | concat: story._slug, '-modal' }}" data-toggle='modal'>
              <i class='fa fa-play-circle'></i>
              Play video
            </button>
          </p>
          <div aria-hidden='true' class='modal fade' id='{{story._slug}}-modal' role='dialog' tabindex='-1'>
            <div class='modal-dialog'>
              <div class='modal-content'>
                <div class='modal-header'>
                  <button aria-hidden='true' class='close' data-dismiss='modal' type='button'>×</button>
                  <h2 class='modal-title' id='myModalLabel'>{{story.name}}</h2>
                </div>
                <div class='modal-body'>
                  <div class='player' id='{{story._slug}}-video' src='{{story.youtube_video_url | escape}}'></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class='container-fluid white-background'>
    <div class='container marketing'>
      <div class='page-header container text-center white-background'>
        <h1>Download the CareerTrackers App Now!</h1>

      </div>
      <div class='row'>
        <div class="col-md-12 text-center">
          <div class="col-md-6">

              <div class='col-md-4 centre-block'>
                  <img class="img-responsive" src="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/images/applev2.png" style="margin:0 auto;"/>
              </div>
              <div class='col-md-8 padding-top padding-bottom' style="padding-top:5px">
                <span class="align-middle">
                  <h4>Apple</h4>
                  <a href="https://itunes.apple.com/au/app/careertrackers/id1166084359?mt=8">Download</a>
                </span>
              </div>


          </div>
          <div class="col-md-6">

              <div class='col-md-4 centre-block'>
                  <img class="img-responsive" src="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/images/android-2.png" style="margin:0 auto;"/>
              </div>
              <div class='col-md-8 padding-top padding-bottom' style="padding-top:5px">
                <span class="align-middle">
                  <h4>Android</h4>
                  <a href="https://play.google.com/store/apps/details?id=com.careertrackers&hl=en">Download</a>
                </span>
              </div>


          </div>
          <div class='col-md-12'>
            <img class="img-responsive" src="http://119.9.8.33/sites/533a6766f92ea180dd000002/theme/images/iphoneScreen.png" style="margin:0 auto;height:400px"/>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}
