---
title: Contact Us
slug: contact-us
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 8
seo_title: Contact Us
editable_elements:
  main/banner: 
---
{% extends parent %}
{% block main %}
{% include banner %}
<div class='container-fluid'>
  {% include page_header %}
  <div class='col-md-12'>
    <p>
      <h2>
        CareerTrackers Indigenous Internship Program
      </h2>
      {% for contact_us in contents.contact_us %}
      <h3>{{contact_us.location}}</h3>
      <ul class='list-unstyled contact inherit-font-size'>
        {% if contact_us.address %}
        <li>
          <i class='fa fa-building-o'></i>
          <span class='contact_address'>
            {{contact_us.address}}
          </span>
        </li>
        {% endif %}
        {% if contact_us.po_box %}
        <li>
          <i class='fa fa-truck'></i>
          <span class='contact_address'>
            {{contact_us.po_box}}
          </span>
        </li>
        {% endif %}
        {% if contact_us.phone %}
        <li class='contact_phone padded-top-small'>
          <i class='fa fa-phone'></i>
          <a href='tel:{{contact_us.phone}}'>
            {{contact_us.phone}}
          </a>
        </li>
        {% endif %}
        {% if contact_us.email %}
        <li class='contact_email padded-top-small'>
          <i class='fa fa-envelope'></i>
          <a href='mailto:{{contact_us.email}}'>
            {{contact_us.email}}
          </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </p>
  </div>
</div>
{% endblock %}
